@tailwind base;
@tailwind components;
@tailwind utilities;

.mini-navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

#home {
  margin: 1rem;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
  border-color: rgba(182, 8, 8, 0.8);
  outline:  solid 1px rgb(165, 165, 165);
}

textarea, input {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --tw-bg-opacity: 0.4;

}

button {
  background-color: #ddd4d4;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  z-index: 100;
  border: none;
  transition-duration: 300ms;
}

button:hover {
  background-color: rgb(119, 116, 116);
  color: white;
}


.miniPage:hover {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;}