@tailwind base;
@tailwind components;
@tailwind utilities;

.mini-navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}

a {
  font-weight: bold;
  transition-duration: 300ms;
}
a:hover {
  color: #9C6615;

}

#home {
  margin: 1rem;
}

textarea:focus, input:focus, input[type]:focus, .uneditable-input:focus {   
  border-color: rgba(182, 8, 8, 0.8);
  outline:  solid 1px rgb(165, 165, 165);
}

textarea, input {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --tw-bg-opacity: 0.4;

}

button {
  background-color: #ddd4d4;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  z-index: 100;
  border: none;
  transition-duration: 300ms;
}

button:hover {
  background-color: rgb(119, 116, 116);
  color: white;
}


@keyframes fade-inout {
  0% {
    opacity: 0
  } 
  100% {
    opacity: 1
  }
}

@keyframes name-fade-inout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }

}


.fade-animation {
  animation-delay: 500ms;
  animation: fade-inout 1.5s cubic-bezier(0.76, 0, 0.24, 1);
}

.name-fade-animation {
  animation-delay: 700ms;
  animation: name-fade-inout 2s cubic-bezier(0.76, 0, 0.24, 1);
}

.opacity {
  opacity: 0
}

.exitIcon {
  transition: 400ms opacity ease-in-out;
  opacity: 0;
}

.showExit {
  opacity: 1;
}