@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-text: 235 230 230;
    --color-about: 128 94 115;
    --color-projects: 78 77 92;
    --color-contact: 45 70 84;
  }

  :root[data-theme="fiesta"] {
    --color-text: 26 25 25;
    --color-about: 76 205 196;
    --color-projects: 255 230 107;
    --color-contact: 255 107 107;
  }

  :root[data-theme="nostalgia"] {
    --color-text: 26 25 25;
    --color-about: 199 235 229;
    --color-projects: 167 232 189;
    --color-contact: 252 188 184;
  }

  :root[data-theme="ikea"] {
    --color-text: 26 25 25;
    --color-about: 84 222 253;
    --color-projects: 139 215 210;
    --color-contact: 0 189 157;
  }

  :root[data-theme="mint-chocolate"] {
    --color-text: 26 25 25;
    --color-about: 194 239 179;
    --color-projects: 151 171 177;
    --color-contact: 116 111 114;
  }

  :root[data-theme="cambridge"] {
    --color-text: 26 25 25;
    --color-about: 148 168 154;
    --color-projects: 199 172 146;
    --color-contact: 164 74 63;
  }

  :root[data-theme="ocean"] {
    --color-text: 235 230 230;
    --color-about: 31 39 27;
    --color-projects: 11 79 108;
    --color-contact: 20 92 158;
  }

  :root[data-theme="moody"] {
    --color-text: 235 230 230;
    --color-about: 0 0 0;
    --color-projects: 61 38 69;
    --color-contact: 131 33 97;
  }

  :root[data-theme="charlie-brown"] {
    --color-text: 235 230 230;
    --color-about: 0 38 66;
    --color-projects: 132 0 50;
    --color-contact: 229 149 0;
  }

  :root[data-theme="museum"] {
    --color-text: 26 25 25;
    --color-about: 230 57 70;
    --color-projects: 241 250 238;
    --color-contact: 168 218 220;
  }

  :root[data-theme="fall"] {
    --color-text: 26 25 25;
    --color-about: 221 110 66;
    --color-projects: 232 218 178;
    --color-contact: 79 109 122;
  }

  :root[data-theme="aquarium"] {
    --color-text: 26 25 25;
    --color-about: 35 240 199;
    --color-projects: 239 118 122;
    --color-contact: 125 122 188;
  }

  :root[data-theme="mirage"] {
    --color-text: 26 25 25;
    --color-about: 245 93 62;
    --color-projects: 135 142 136;
    --color-contact: 247 203 21;
  }
}

* {
  @apply transition-colors duration-100 ease-in-out;
}

.mini-navbar {
  width: 100%;
  display: flex;
  justify-content: center;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.2rem;
}
@media (max-width: 768px) {
  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.2rem;
  }

  h3 {
    font-size: 1rem;
  }
}

a {
  font-weight: bold;
  transition-duration: 300ms;
}

textarea:focus,
input:focus,
input[type]:focus,
.uneditable-input:focus {
  border-color: rgba(182, 8, 8, 0.8);
  outline: solid 1px rgb(165, 165, 165);
}

textarea,
input {
  --tw-bg-opacity: 1;
  background-color: rgb(107 114 128 / var(--tw-bg-opacity));
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  --tw-bg-opacity: 0.4;
}

button {
  background-color: #ddd4d4;
  opacity: 0.9;
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
  z-index: 100;
  border: none;
  transition-duration: 300ms;
}

button:hover {
  background-color: rgb(119, 116, 116);
  color: white;
}

@keyframes fade-inout {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes name-fade-inout {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.fade-animation {
  animation-delay: 150ms;
  animation: fade-inout 0.5ms cubic-bezier(0.76, 0, 0.24, 1);
}

.delayed-fade-animation {
  animation-delay: 150ms;
  animation: name-fade-inout 600ms cubic-bezier(0.76, 0, 0.24, 1);
}

.opacity {
  opacity: 0;
}

.exitIcon {
  transition: 150ms opacity ease-in-out;
  opacity: 0;
}

.showExit {
  opacity: 1;
}

.scroll-style {
  scrollbar-color: black;
  scrollbar-width: thin;
  scroll-margin: 10px;
}
